<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General Statistics</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
</head>
<body>
<p id="title">Stats of squirrels</p>
<br>
<table style="margin-left: auto; margin-right:auto; ">
    <thead>
    <tr>
        <th>Total Number</th>
        <th>Age</th>
        <th>Shift</th>
        <th>Primary Fur Color</th>
        <th>Activity</th>
    </tr>
    </thead>
    <tbody>
    <tr style="margin:30px">
        <td style="text-align:center; width:150px;">
        {{Squirrel_count}}</td>
        <td style="text-align:center; width:150px;">
            <br>Adults:{{Age_Adult_count}}<br/>
            <br>Juvenile:{{Age_Juvenile_count}}<br/>
        </td>
        <td style="text-align:center; width:150px;">
            <br>AM:{{Shift_AM_count}}<br/>
            <br>PM:{{Shift_PM_count}}<br/>
        </td>
        <td style="text-align:center; width:150px;">
            <br>Gray:{{Color_Gray_count}}<br/>
            <br>Cinnamon:{{Color_Cinnamon_count}}<br/>
            <br>Black:{{Color_Black_count}}<br/>
        </td>
        <td style="text-align:center; width:150px;">
            <br>Running:{{Running_count}}<br/>
            <br>Chasing:{{Chasing_count}}<br/>
            <br>Climbing:{{Climbing_count}}<br/>
            <br>Eating:{{Eating_count}}<br/>
            <br>Foraging:{{Foraging_count}}<br/>
        </td>
    </tr>
    </tbody>
</table>
<br>
    <div id="outer">
          <div class="inner"><button class="button" onclick="window.location.href= '{% url 'sightings:index' %}'">Back to the Squirrel List</button></div>
          <div class="inner"><button class="button" onclick="window.location.href= '{% url 'sightings:add' %}'">Add New Sighting</button></div>
          <div class="inner"><button class="button" onclick="window.location.href= '{% url 'sightings:map' %}'">See Squirrel Map</button></div>
        </div>
</body>
</html>
